<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.yjoker.homeworkhelper.mapper.SelectCourseMapper">

    <resultMap id="BaseResultMap" type="work.yjoker.homeworkhelper.entity.SelectCourse">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="studentId" column="student_id" jdbcType="BIGINT"/>
            <result property="grade" column="grade" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModify" column="gmt_modify" jdbcType="TIMESTAMP"/>
            <result property="idModify" column="id_modify" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,student_id,
        grade,gmt_create,gmt_modify,
        id_modify,is_deleted
    </sql>
</mapper>
