<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.yjoker.homeworkhelper.mapper.SelectCourseMapper">

    <resultMap id="BaseResultMap" type="work.yjoker.homeworkhelper.entity.SelectCourse">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="studentId" column="student_id" jdbcType="BIGINT"/>
            <result property="grade" column="grade" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModify" column="gmt_modify" jdbcType="TIMESTAMP"/>
            <result property="idModify" column="id_modify" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,student_id,
        grade,gmt_create,gmt_modify,
        id_modify,is_deleted
    </sql>
    <select id="selectStudentListByCourseId" resultType="work.yjoker.homeworkhelper.dto.UserInfoDTO">
        SELECT l.phone, u.clazz, u.number, u.name, u.avatar
            FROM login_info l
                JOIN user_info u ON l.id = u.id
            WHERE l.is_deleted = 0 AND l.id in (
                SELECT s.student_id
                    FROM select_course s JOIN course_info c ON s.course_id = c.id
                    WHERE c.is_deleted = 0 AND c.id = #{courseId} AND c.create_id = #{createId}
            );
    </select>
</mapper>
